@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
:root {
  --text: #061b21;
  --text-80: #737e81;
  --text-60: #96a4a8;
  --text-30: #cecece;
  --text-20: #dfdddd;
  --text-10: #e1e6e6;
  --text-5: #f0f0f0;
  --background: #fafdfe;
  --background-60: #f3f4f8;
  --primary: #40c2e2;
  --primary-20: #ecf9fc;
  --primary-50: #68d0e9;
  --secondary: #ffc61a;
  --secondary-50: #fed14c;
  --secondary-20: #fef0ec;
  --accent: #7e58e2;
  --accent-50: #a084e5;
  --warning: #db4e4e;
  --warning-50: #d96a6a;
  --space-1x: 8px;
  --space-2x: 16px;
  --space-3x: 24px;
  --space-4x: 32px;
  --space-5x: 40px;
  --space-6x: 40px;
}
* {
  box-sizing: border-box;
  margin: 0px;
}
body {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: var(--text);
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Inter", Arial, Helvetica, sans-serif;
}
.flex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}
.text-center {
  text-align: center;
}
.y-center {
  align-items: center;
}
.round-corners-1x {
  border-radius: var(--space-1x);
}
.main {
  display: flex;
  min-height: 100vh;
  background-color: var(--background-60);
}
.container {
  box-shadow: 2px 2px 8px 2px var(--text-5);
  border-radius: var(--space-2x);
  margin: var(--space-5x) auto;
  padding: var(--space-6x);
  width: min(1280px, 70vw);
  min-width: 320px;
  background-color: var(--background);
}
.lib-header {
  gap: var(--space-2x);
  margin-top: var(--space-4x);
  margin-bottom: var(--space-3x);
}
.lib-header .btn {
  gap: var(--space-1x);
  padding: var(--space-1x);
  background-color: var(--primary);
  color: var(--background);
}
#add-btn img {
  height: 32px;
}
.btn-wrapper .btn {
  padding: calc(var(--space-1x) * 0.75);
}
.read-wrapper {
  gap: var(--space-1x);
  color: var(--text-60);
  font-size: smaller;
}
.book-card-icon {
  height: 32px;
}
#library-container {
  margin-top: var(--space-2x);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: var(--space-4x);
}
.book-card {
  flex-direction: column;
  justify-content: space-between;
  gap: var(--space-4x);
  box-shadow: 2px 2px 4px 1px var(--text-10);
  border-radius: var(--space-2x);
  padding: var(--space-3x);
}
.book-card .title {
  font-size: larger;
  font-weight: 700;
}
.book-card .desc {
  margin-top: var(--space-1x);
  margin-bottom: var(--space-1x);
  color: var(--text-60);
}
.book-card .btn-wrapper {
  display: flex;
  justify-content: space-between;
}
.btn-primary {
  background-color: var(--primary);
}
.btn-primary:active {
  background-color: var(--primary-50);
}
.btn-disabled {
  background-color: var(--text-30);
}
.btn-disabled:active {
  background-color: var(--text-10);
}
.btn-secondary {
  background-color: var(--secondary);
}
.btn-secondary:active {
  background-color: var(--secondary-50);
}
.btn-warning {
  background-color: var(--warning);
}
.btn-warning:active {
  background-color: var(--warning-50);
}
.primary-color {
  color: var(--primary);
}
dialog {
  background-color: var(--background);
  margin: auto auto;
  border-radius: var(--space-1x);
  border: 0px;
  padding: var(--space-3x);
}
dialog .title {
  margin-bottom: var(--space-3x);
}
.input-group {
  display: flex;
  flex-direction: column;
  gap: var(--space-2x);
}
.input-group div {
  display: flex;
  align-items: center;
}
.input-group div label {
  min-width: 64px;
}
dialog input {
  font-size: 100%;
  border-radius: 4px;
  padding: 4px 8px;
  border: 1px solid var(--text-60);
  color: var(--text-80);
}
dialog input:focus {
  border: 1px solid var(--text);
}
dialog .radio-group {
  display: flex;
  margin-bottom: var(--space-2x);
  gap: var(--space-2x);
}
dialog .radio-group div {
  flex: 1;
  display: flex;
  align-items: center;
  gap: var(--space-1x);
}
input {
  outline: none;
}
input[type="submit"] {
  background-color: var(--primary);
  border-radius: var(--space-1x);
  border: 0px;
  color: white;
  padding: var(--space-2x);
}
.button-group {
  display: flex;
  justify-content: space-between;
  gap: var(--space-2x);
}
.button-group input {
  flex: 1;
}
::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
}
